<p-drawer [(visible)]="visible" [style]="{ width: '600px', maxWidth: '100vw' }" position="right" (onHide)="hideDrawer()">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <span class="font-bold">Detalhes do Autor</span>
        </div>
    </ng-template>

    @if (loading) {
        <div class="flex items-center justify-center h-full">
            <p-progress-spinner ariaLabel="loading" />
        </div>
    } @else if (autor) {
        <div class="flex flex-col gap-6">
            <div>
                <label class="block font-bold mb-2 text-gray-600" for="codigo">
                    Código
                </label>
                <p class="text-lg" id="codigo">{{ autor.codigo }}</p>
            </div>

            <div>
                <label class="block font-bold mb-2 text-gray-600" for="nome">
                    Nome
                </label>
                <p class="text-lg" id="nome">{{ autor.nome }}</p>
            </div>
        </div>
    }
</p-drawer>
